{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

{% if records %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">

<table class="table table-hover table-bordered">
	<thead>
		<tr class="table-dark clickable-row">
			<th scope="col"><a href="?sort_by=id&order={% if sort_by == 'id' and order == 'desc' %}asc{% else %}desc{% endif %}">
			ID
			{% if sort_by == 'id' %}
				{% if order == 'asc' %}
					(▲)
				{% else %}
					(▼)
				{% endif %}
			{% endif %}
			</a></th>
			<th scope="col"><a href="?sort_by=last_name&order={% if sort_by == 'last_name' and order == 'desc' %}asc{% else %}desc{% endif %}">
			Name
			{% if sort_by == 'last_name' %}
				{% if order == 'asc' %}
					(▲)
				{% else %}
					(▼)
				{% endif %}
			{% endif %}
			</a></th>
			<th scope="col"><a href="?sort_by=email&order={% if sort_by == 'email' and order == 'desc' %}asc{% else %}desc{% endif %}">
			Email
			{% if sort_by == 'email' %}
				{% if order == 'asc' %}
					(▲)
				{% else %}
					(▼)
				{% endif %}
			{% endif %}
			</a></th>
			<th scope="col"><a href="?sort_by=phone&order={% if sort_by == 'phone' and order == 'desc' %}asc{% else %}desc{% endif %}">
			Phone
			{% if sort_by == 'phone' %}
				{% if order == 'asc' %}
					(▲)
				{% else %}
					(▼)
				{% endif %}
			{% endif %}
			</a></th>
			<th scope="col"><a href="?sort_by=address&order={% if sort_by == 'address' and order == 'desc' %}asc{% else %}desc{% endif %}">
			Address
			{% if sort_by == 'address' %}
				{% if order == 'asc' %}
					(▲)
				{% else %}
					(▼)
				{% endif %}
			{% endif %}
			</a></th>
			<th scope="col"><a href="?sort_by=city&order={% if sort_by == 'city' and order == 'desc' %}asc{% else %}desc{% endif %}">
			City
			{% if sort_by == 'city' %}
				{% if order == 'asc' %}
					(▲)
				{% else %}
					(▼)
				{% endif %}
			{% endif %}
			</a></th>
			<th scope="col"><a href="?sort_by=state&order={% if sort_by == 'state' and order == 'desc' %}asc{% else %}desc{% endif %}">
			County/State
			{% if sort_by == 'state' %}
				{% if order == 'asc' %}
					(▲)
				{% else %}
					(▼)
				{% endif %}
			{% endif %}
			</a></th>
			<th scope="col"><a href="?sort_by=post_code&order={% if sort_by == 'post_code' and order == 'desc' %}asc{% else %}desc{% endif %}">
			Postcode/ZIP Code
			{% if sort_by == 'post_code' %}
				{% if order == 'asc' %}
					(▲)
				{% else %}
					(▼)
				{% endif %}
			{% endif %}
			</a></th>
		</tr>
	</thead>
	<tbody>
		{% for record in records %}
		<tr class="table-secondary">
			<th scope="row"><a href="{% url 'individual_record' record.id %}" class="btn">{{record.id}}</a></th>
			<td><a href="{% url 'individual_record' record.id %}" class="btn">{{record.first_name}} {{record.last_name}}</a></td>
			<td><a href="{% url 'individual_record' record.id %}" class="btn">{{record.email}}</a></td>
			<td><a href="{% url 'individual_record' record.id %}" class="btn">{{record.phone}}</a></td>
			<td><a href="{% url 'individual_record' record.id %}" class="btn">{{record.address}}</a></td>
			<td><a href="{% url 'individual_record' record.id %}" class="btn">{{record.city}}</a></td>
			<td><a href="{% url 'individual_record' record.id %}" class="btn">{{record.state}}</a></td>
			<td><a href="{% url 'individual_record' record.id %}" class="btn">{{record.post_code}}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}

{% else %}

<div class="col-md-6 offset-md-3">

<h1> Login </h1>

<br/>
<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}
	<form>
		<div class="mb-3">
		    <input type="username" class="form-control" id="username" aria-describedby="username" placeholder="Username" name="username">
		</div>
		<br/>
		<div class="mb-3">
    		<input type="password" class="form-control" id="password" placeholder="Password" name="password">
  		</div>
  		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

{% endif %}


{% endblock %}

<script>



</script>