{% extends 'base.html' %}

{% block content %}


{% if record %}

	<h1>{{ record.first_name }} {{ record.last_name }}<h1>
	<br/>
	<h3> The record information: </h3>
	<ul class="list-group">
		<li class="list-group-item list-group-item-light">Email: {{record.email}} </li>
		<li class="list-group-item list-group-item-light">Phone Number: {{record.phone}} </li>
		<li class="list-group-item list-group-item-light">Address: {{record.address}} </li>
		<li class="list-group-item list-group-item-light">City: {{record.city}} </li>
		<li class="list-group-item list-group-item-light">County/State: {{record.state}} </li>
		<li class="list-group-item list-group-item-light">Postcode/ ZIPcode: {{record.post_code}} </li>
		<li class="list-group-item list-group-item-light"> {{record.email}} </li>
	<ul>
	<br/>
	<div style="display: flex; justify-content: space-between; padding: 0 10px; padding-left: 0px;">
		<a class="btn btn-secondary btn-large" href="{% url 'edit_record' record.id %}"> Edit </a>
		<form method="POST" action="{% url 'delete_record' record.id %}" onsubmit="return confirmDelete();" style="display:inline;">
			{% csrf_token %}
			<button type="Submit" class="btn btn-outline-danger" >Delete</button>
		</form>
	</div>

<script>
	function confirmDelete(){
		return confirm("Are you sure you want to delete this record?");
	}
</script>

{% else %}

<h1> The requested Record does not exist or has incomplete data! </h1>

{% endif %}
{% endblock %}